.pageLayout{
    width: 100%;
    height: 100%;
}

.inner-page{
    padding: 5px;
    width: 100%;
}

.fullWidth{
    width: 100% !important;
    min-height: 5px;
}

.add{
    padding: 0px 15px;
    width: 90%;
    font-size: 20px;
    font-weight: 550;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    height: 35px;
}

.add:focus{
    outline: none;
}

.addupdate{
    background-color: #4CA16E;
}

.clear{
    background-color: #ff0000;
}

.edittxt{
    color: #79a3f1;
    text-decoration: underline;
    cursor: pointer;
}

.deletetxt{
    color: #ff0000;
    text-decoration: underline;
    cursor: pointer;
}

.Grid{
    max-height: 250px;
    overflow-y: auto;
    margin-bottom: 0px;
}