
<div class="container-fluid pageLayout">
  <div class="inner-page">
    <div class="row text-center">
      <h1>Brands Rating</h1>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="btn add addupdate" type="button" (click)='OpenManageBrandsModal()'>Manage Brands</button>
      </div>
      <div class="col-md-8"></div>
    </div>
    <div class="row mt-3">
      <form (ngSubmit)='AddBrandRating()' [formGroup]='BrandForm' #brandFrom='ngForm'>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <mat-form-field class="w-100">
              <mat-label class="PlaceholderLabel">Brand *</mat-label>
              <mat-select [disabled]='BrandInfo.ID' name='Brand' [(ngModel)]='BrandInfo.BrandID' formControlName='Brand'>
                <mat-option *ngFor="let item of BrandsList" [value]='item.ID'>
                  {{item.BrandName}}
                </mat-option>
              </mat-select>
              <mat-error class="errMsg" *ngIf="BrandForm?.get('Brand')?.hasError('required') && brandFrom.submitted">
                Brand is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4 col-sm-12">
            <mat-form-field class="fullWidth">
              <mat-label>Country Code</mat-label>
              <input matInput  name="CountryCode" [(ngModel)]="BrandInfo.Country" formControlName='Country'>
            </mat-form-field>
            <mat-error *ngIf="BrandForm?.get('Country')?.hasError('maxlength') && brandFrom.submitted">
              Only a maximum of 2 characters are accepted
            </mat-error>
            <mat-error *ngIf="BrandForm?.get('Country')?.hasError('pattern') && brandFrom.submitted">
              Only text is accepted
            </mat-error>
          </div>
          <div class="col-md-4 col-sm-12">
            <mat-form-field class="fullWidth">
              <mat-label>Brand Rating</mat-label>
              <input matInput  
                name="Rating" 
                [(ngModel)]="BrandInfo.Rating" 
                formControlName='Rating' type="number" 
                min="1" max='100' step="1" 
                oninput="validity.valid||(value='');" >
            </mat-form-field>
            <mat-error *ngIf="BrandForm?.get('Rating')?.hasError('required') && brandFrom.submitted">
              Brand Name is required
            </mat-error>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-12"></div>
          <div class="col-md-3 col-sm-12"><button class="btn add addupdate" type="submit">Add/Update</button></div>
          <div class="col-md-3 col-sm-12"><button class="btn add clear" type="button" (click)="ClearForm()">clear</button></div>
          <div class="col-md-3 col-sm-12"></div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="row mt-4 GridRow" *ngFor="let BR of BrandsRatingList">
        <div class="col-md-4 col-sm12">{{BR.Country == 'null' ? '' : BR.Country}}</div>
        <div class="col-md-8 col-sm12">
          <div class="row mt-1" *ngFor="let BRating of BR.Ratings">
            <div class="col-md-5 col-sm-12">{{BRating.BrandName}}</div>
            <div class="col-md-5 col-sm-12">{{BRating.Rating}}</div>
            <div class="col-md-2 col-sm-12">
              <div class="row">
                <div class="col-md-6 col-sm-12 edittxt" (click)="EditRating(BRating)">edit</div>
                <div class="col-md-6 col-sm-12 deletetxt" (click)="popupDeleteBrandRating(BRating.ID)" (confirm)='DeleteBrandRating(BRating.ID)'>delete</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
